<h1>Database Contents</h1>

<h2>Users</h2>
{{#if users.length}}
    <ul>
    {{#each users}}
        <li>
            <strong>User ID:</strong> {{dataValues.user_id}}<br>
            <strong>Email:</strong> {{dataValues.email}}<br>
            <strong>Stripe API Key:</strong> {{dataValues.stripe_api_key}}
        </li>
    {{/each}}
    </ul>
{{else}}
    <p>No users found</p>
{{/if}}

<h2>Customers</h2>
{{#if customers.length}}
    <ul>
    {{#each customers}}
        <li>
            <strong>Customer ID:</strong> {{dataValues.customer_id}}<br>
            <strong>Name:</strong> {{dataValues.name}}<br>
            <strong>Email:</strong> {{dataValues.email}}
        </li>
    {{/each}}
    </ul>
{{else}}
    <p>No customers found</p>
{{/if}}


<h2>Testimonials</h2>
{{#if testimonials.length}}
    <ul>
    {{#each testimonials}}
        <li>
            <strong>Testimonial ID:</strong> {{dataValues.testimonial_id}}<br>
            <strong>Content:</strong> {{dataValues.testimonial}}<br>
            <strong>Status:</strong> {{dataValues.status}}<br>
            <strong>Stars:</strong> {{dataValues.stars}}
            {{#if Customer}}
                <br><strong>Customer:</strong> {{dataValues.Customer.dataValues.name}}
            {{/if}}
        </li>
    {{/each}}
    </ul>
{{else}}
    <p>No testimonials found</p>
{{/if}}
